.fade-enter {
    opacity: 0;
    &.fade-enter-active {
        opacity: 1;
        position: absolute;
        top: 0%;
        transition: opacity 500ms linear;
    }
}
.fade-exit {
    opacity: 1;
    &.fade-exit-active {
        opacity: 0;
        position: absolute;
        top: 100%;
        transition: opacity 500ms linear;
    }
}

